ast-grep-py==0.39.4
rich
openai
tqdm
google-genai
requests
regex
aiofiles
beautifulsoup4
curl_cffi
trafilatura
readability-lxml
pylint
cppcheck 
cpplint 
pyjslint 
sqlfluff
Semgrep
RapidFuzz
ddgs
json5